<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="wordladder" class="com.wordladder.back-end.WordLadder">
        <constructor-arg><value>src\main\resources\static\dictionary.txt</value></constructor-arg>
    </bean>
    <!--bean id="service" class></bean-->
</beans>